{% extends 'base.html' %}
{% block content %}

<h1>Edit Income</h1>
<div class="container mt-4">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'income:income' %}">Income</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
            </ol>
          </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'income:income_delete' income.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>

  <!-- Form Card -->
  <div class="card">
    <div class="card-body">
      <form action="{% url 'income:income_edit' income.id %}" method="post">
        <!-- Include messages for feedback -->
        {% include 'partials/_messages.html' %}
        {% csrf_token %}

        <!-- Amount Field -->
        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            class="form-control form-control-sm"
            name="amount"
            value="{{ values.amount|default:'' }}"
            placeholder="Enter the income amount"
            required
          />
        </div>

        <!-- Description Field -->
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{ values.description|default:'' }}"
            placeholder="Enter a brief description"
          />
        </div>

        <!-- Category Field -->
        <div class="form-group">
          <label for="source">source</label>
          <select
            class="form-control"
            name="source"
            required
          >
            <option value="" disabled selected>Select a Source</option>
            {% for source in source %}
            <option value="{{ source.name }}" {% if values.source == source.name %}selected{% endif %}>
              {{ source.name }}
            </option>
            {% endfor %}
          </select>
        </div>

        <!-- Date of Income -->
        <div class="form-group">
          <label for="income_date">Date of Income</label>
          <input
              type="date"
              class="form-control form-control-sm"
              name="income_date"
              value="{{ values.date|date:'Y-m-d' }}"/>
      </div>

        <!-- Submit Button -->
        <input type="submit" value="Update" class="btn btn-primary btn-sm" />
      </form>
    </div>
  </div>
</div>

{% endblock content %}
